* {
    margin: 0;
    padding:0;
}

.nav {
    display: flex;
    position: fixed;
    height: 90px;
    background: white;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding-left: 170px;
}

.logo {
    width: 75px;
    height: 75px;
}

.logomain {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.name {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}
.navlist {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 50px;
    padding-right: 100px;
}

.navitem {
    padding-right: 32px;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
}

.login {
    font-family: 'Kanit', sans-serif;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 12px ;
    margin-right: 15px;
}

.getstarted {
    font-family: 'Kanit', sans-serif;
    border-radius: 4px;
    background-color: rgb(220, 220, 10);
    padding: 5px 12px ;
    color: white;
}

.message {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: yellow;
    top: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mess {
    font-family: 'Kanit', sans-serif;
    margin-left: 300px ;
    font-size: 20px;
}

.learnmore {
    margin-left: 20px;
    font-family: 'Kanit', sans-serif;
    color: black;
    border-radius: 4px;
    background: white;
    padding: 5px 12px ;

}