* {
    margin: 0;
    padding:0;
}

.nav {
    display: flex;
    position: fixed;
    height: 90px;
    background: white;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding-left: 170px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    z-index: 1;
}

.logo {
    width: 75px;
    height: 75px;
}

.logomain {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.name {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
}
.navlist {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 50px;
    padding-right: 100px;
}

.navitem {
    position: relative;
    right: 32px;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    margin-left: 25px;
}

.navitem:hover {
    border-bottom: 1px solid orange;
}

.login {
    font-family: 'Kanit', sans-serif;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 12px ;
    margin-right: 15px;
}

.login:hover {
    color: white;
    background-color: rgb(220, 220, 10);
    border: 1px solid yellow;
    transition: background-color .25s ease-out,color .25s ease-out;
}

.getstarted {
    font-family: 'Kanit', sans-serif;
    border-radius: 4px;
    background-color: yellow;
    padding: 5px 12px ;
    color: black;
}

.getstarted:hover {
    background-color: rgb(204, 204, 0);
    transition: background-color .25s ease-out,color .25s ease-out;;
    color: white;
    
}

a {
    text-decoration: none;
    color: inherit;
}


.sec1 {
    position: absolute;
    top: 158px;
    left: 651px;
}

.sec1 h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
}

#line {
    position: relative;
    width: 859px;
    right: 319px;
}

.sec2 {
    position: absolute;
    display: flex;
    top:282px;
    left:141px;
    width: 90%;
    justify-content: space-evenly;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bankacc {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 76px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 548px;
    justify-content: space-evenly;
    position: relative;
}

.descr {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.button {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    padding:11px 22px ;
    border-radius: 8px;
    border: 1px solid black;
    margin-top: 20px;
}

.button:hover {
    color: white;
    background-color: rgb(220, 220, 10);
    border: 1px solid yellow;
    transition: background-color .25s ease-out,color .25s ease-out;
}

#line2 {
    position: relative;
    left: 100px;
}

.footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 440px;
    top: 552px;
    background-color: rgb(246, 244, 239);
}

.lists {
    position: absolute;
    display: flex;
    top: 50px;
    left: 200px;
    flex-direction: row;
}

.footer ul {
    list-style: none;
    margin-right: 55px;
}

.footer li {
    margin-bottom: 8px;
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
}

.footer hr {
    margin-bottom: 10px;
    width: 300px;
}

.fli {
    font-size: 20px !important;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
}

.logomain2 {
    display: flex;
    position: absolute;
    right: 200px;
    top: 50px;
}

.logo2 img {
    width: auto;
    height: 60px;
}

.logoname2 {
    display: flex;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    align-items: center;
}

#final {
    position: absolute;
    width: 1150px;
    top: 400px;
    left: 200px;
}

.author {
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    position: absolute;
    top: 415px;
    left: 200px;
}
